<!DOCTYPE html>
<html>
  <head>
    <title>Opprett en handelslink</title>
  </head>
  <body>
    <h1>Opprett en handelslink</h1>
    <p>Fyll inn skjemaet under for å opprette en handelslink som kan deles med en venn.</p>
    <form>
      <label for="item">Vare:</label>
      <input type="text" id="item" name="item"><br><br>
      <label for="price">Pris:</label>
      <input type="number" id="price" name="price"><br><br>
      <button type="submit">Opprett handel</button>
      </form>
        </body>
      </html>
