<!DOCTYPE html>
<html>
  <head>
    <title>CS:GO Skin Trading App</title>
  </head>
  <body>
    <h1>CSdepo.no - en EcoSurf tjeneste</h1>
    <a href="<%= createTradeUrl %>"><button>Lag en ny handel</button></a>
  </body>
</html>
