<!DOCTYPE html>
<html>
  <head>
    <title>Handelsside</title>
  </head>
  <body>
    <h1>Handelslink</h1>
    <p>Din handelslink: <a href="<%= tradeLink %>"><%= tradeLink %></a></p>
    <p>Send denne linken til vennen din for å starte handelen.</p>
  </body>
</html>
